<% if current_user && is_admin? %>
<table>
	<tr>
		<%= link_to "New Pin", new_pin_path %>
	</tr>
</table>
<% end %>
<h1> This is the pins index page </h1>

<% @pins.each do |pin| %>
<%= link_to (image_tag pin.image.url(:medium)), pin %>
<h2><%= link_to pin.title, pin %></h2>
<% end %>