<div class="col-md-8 col-md-offset-2">
	<div class= "panel panel-default">
		<div class= "panel-heading pin_image">
			<h1> Hello <%= current_user.name %> </h1>
		</div>
		<div class="panel-body">
			
		</div>
	</div>
</div>