<!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="http://placehold.it/200x200&text=Logo" alt="">
    </header>

    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">About</h1>
                    <p class="lead section-lead">Dogs have sex and you get the babies several weeks later.</p>
                    <p class="section-paragraph">Hi, my name is Dean and I made this website. Also, I'm incredibly blunt.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <aside class="image-bg-fixed-height"></aside>

    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Contact</h1>
                    <p class="lead section-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p class="section-paragraph">Post-ironic lumbersexual scenester single-origin coffee portland 90's, quinoa kitsch drinking vinegar sartorial heirloom franzen. Swag offal heirloom, tacos asymmetrical VHS cold-pressed plaid master cleanse kale chips artisan slow-carb brunch. Freegan scenester pickled swag austin, 8-bit tousled VHS fashion axe echo park bespoke four dollar toast hashtag kinfolk normcore. Wolf slow-carb vinyl, master cleanse shoreditch kickstarter letterpress godard gentrify XOXO mustache chambray cold-pressed gastropub. Locavore franzen stumptown fanny pack cred normcore, chicharrones direct trade cornhole street art biodiesel kinfolk hammock dreamcatcher. Tote bag fingerstache tousled pop-up paleo, banjo kickstarter fanny pack humblebrag normcore keytar. Thundercats affogato flexitarian, meggings 3 wolf moon echo park normcore church-key scenester ennui fap mixtape bicycle rights salvia.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>